footer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.2rem;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0.5rem;
  padding-left: 1rem;
  background-color: var(--color-darkblue);
  color: var(--color-lightblue);
}

.footer__budget {
  grid-area: 1 / 1 / 3 / 2;
  font-size: 1.2rem;
  align-self: center;
}

.footer__items {
  grid-area: 1 / 2 / 2 / 3;
}

.footer__total-price {
  grid-area: 2 / 2 / 3 / 3;
}
