section {
  display: grid;
  grid-template-columns: 1fr 6fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid rgb(6, 39, 79);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

.btn-delete {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  margin-right: 0.5rem;
}

h2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0;
  font-size: 1.25rem;
  padding-top: 0.25rem;
}

p {
  margin: 0;
}

.price {
  grid-area: 2 / 2 / 3 / 3;
  padding-top: 0.2rem;
}

.amount {
  grid-area: 1 / 3 / 2 / 4;
  padding-top: 0.5rem;
}

.total-price {
  grid-area: 2 / 3 / 3 / 4;
  padding-top: 0.2rem;
}

.btn-plus {
  grid-area: 1 / 4 / 2 / 5;
  align-self: center;
}

.btn-minus {
  grid-area: 2 / 4 / 3 / 5;
  align-self: center;
}
