@import "./components/Home/Footer.css";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(217, 244, 255);
  color: #06274f;
  margin: 0.3rem 0;
  padding: 5rem 0.5rem 8rem;
}

header {
  background-color: #06274f;
  color: rgb(217, 244, 255);
  padding: 0 0.5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
