@import "./components/Home/Footer.css";
@import "./components/Home/Header.css";
@import "./colors.css";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-lightblue);
  color: var(--color-darkblue);
  margin: 0.3rem 0;
  padding: 7.5rem 0.5rem 8rem;
}

p {
  margin: 0;
}
